.data {
    color: var(--cor-primaria);
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

@media(max-width: 768px) {
    .imgPequeno {
        width: 100vw;
    }

    .imgTablet {
        display: none;
    }

    .imgMedia {
        display: none;
    }

    .data {
        color: var(--cor-primaria);
        text-align: center;
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    h2 {
        color: var(--cor-primaria);
        text-align: center;
        font-size: 28px;
    }

    .relogio {
        width: 300px;
        margin: 0 auto;
    }

    .relogioInfo {
        padding-left: 35px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 20px;
    }

    p {
        color: var(--cor-primaria);
        margin: 0;
    }

    .contagem {
        color: var(--cor-primaria);
        text-align: center;
        font-size: 50px;
        margin: 0px;
    }

    /* ------------------------------------------------ */
    .secundario {
        position: relative;
    }

    .SegundaImgTablet {
        display: none;
    }

    .SegundaImgGrande {
        display: none;
    }

    .SegundaImgPequeno {
        z-index: 1;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .ContainerTexto {
        position: absolute;
        left: 30px;
        width: 90%;
        z-index: 2;

    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .imgPequeno {
        display: none;
    }

    .imgMedia {
        display: none;
    }

    .imgTablet {
        width: 60%;
        margin: 0 20%;
    }

    h2 {
        color: var(--cor-primaria);
        text-align: center;
        font-size: 28px;
    }

    .relogio {
        width: 300px;
        margin: 0 auto;
    }

    .relogioInfo {
        padding-left: 35px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 20px;
    }

    p {
        color: var(--cor-primaria);
        margin: 0;
    }

    .data {
        color: var(--cor-primaria);
        text-align: center;
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    .contagem {
        color: var(--cor-primaria);
        text-align: center;
        font-size: 50px;
        margin: 0px;
    }

    h1 {
        text-align: center;
    }

    .secundario {
        position: relative;
    }

    .SegundaImgTablet {
        width: 400px;
        position: absolute;
        top: 0;
        width: 60%;
        margin: 0 20%;
        z-index: 1;
    }


    .ContainerTexto {
        position: absolute;
        left: 30px;
        width: 90%;
        z-index: 2;

    }

    /* ------------------------------------ */
    .SegundaImgPequeno {
        display: none;
    }

    .SegundaImgGrande {
        display: none;
    }

}

@media screen and (min-width: 1025px) {


    main {
        height: 1000px;
        width: 1000px;
        margin: 0 auto;
    }

    .imgPequeno {
        display: none;
    }

    .imgTablet {
        display: none;
    }

    /* --------------------------------- */
    .SegundaImgPequeno {
        display: none;
    }

    .SegundaImgTablet {
        display: none;
    }

    .principal {
        display: flex;
        height: 591px;

    }

    .imgMedia {
        width: 979px;
        height: 692px;
        margin: 0 1px;
        position: relative;
        /* Fixar a imagem na tela */
        z-index: 1;
        top: -100px;
        /* Ajuste a posição vertical conforme necessário */
        left: 50%;
        /* Posiciona horizontalmente no centro */
        transform: translateX(-50%);
        /* Alinha a imagem exatamente no centro */
        flex-direction: column;
    }

    .containerContagem {
        margin-top: 8%;
        height: 300px;
        position: relative;
        z-index: 1;
        left: -80%;
        transform: translateX(-42%) translateY(93%);
        flex-direction: column;
    }


    .contagemRegressiva {
        padding-top: 1px;
        width: 400px;
        height: 200px;
        position: relative;
        margin: 0;
        z-index: 2;
    }



    h2 {
        color: var(--cor-primaria);
        text-align: center;
        font-size: 28px;
    }

    .relogio {
        width: 300px;
        margin: 0 auto;
    }

    .relogioInfo {
        padding-left: 35px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 20px;
    }

    p {
        color: var(--cor-primaria);
        margin: 0;
    }

    .contagem {
        color: var(--cor-primaria);
        text-align: center;
        font-size: 50px;
        margin: 0px;
    }

    /* ----------------------------------------------- */
    .secundario {
        display: flex;
        height: 699px;
    }

    .SegundaImgGrande {
        z-index: 1;
        position: relative; 
        height: 699px;
    }
    
    .ContainerTexto {
        z-index: 2;
        position: relative;
        z-index: 1;
        transform: translateX(-110%);
        flex-direction: column;

    }
    

}

